section{
    margin-top: 5rem;
}

section .section-titles h1{
    font-size: 4rem;
    transition: color 1s;
}

section .section-titles h5{
    font-size: 1.5rem;
    color: rgb(106,98,98);
    font-weight: 400;
    transition: color 1s;
}

section p{
    font-size: 1rem;
    max-width: 450px;
    color: gray;
    transition: color 1s;
}

section button{
    padding: 18px 25px;
    border: none;
    background-color: #4361ee;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1.1rem;
    border-radius: 25px;
}

.mood .section .section-titles h1{
    color: #788cc1;
}

.mood section h5{
    color: #fff;
}

.mood section p{
    color: #fff;
}